* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  overflow: hidden;
}

body, main, #container {
  height: 100%;
}

#viz-container {
  height: 93%;
  display: flex;
}

#controls {
  height: 7%;
  padding: 1em;
  display: flex;
  gap: 1.5em;
}

#map {
  height: 100%;
  padding: 1em;
}

#chart {
  height: 100%;
}

.js-plotly-plot, .plot-container .plotly {
  height: 100%;
  padding: 0;
}

#chart-instruction {
  position: absolute;
  z-index: 999;
  top: 50%;
  right: 12%;
  width: 30%;
  background-color: white;
}
